$primary: #1DA1F2;
$muted: #999999;
$background: #F4F8FB;
$background-hover: #EDF2F5;
$button-hover: #D8E9F5;
$border: #D0D6E2;
$font: #657786;
$main-button-hover: #0982D9;
$button-sidebar-hover: rgba(77, 166, 255, 0.27);
$white: white;
$header-dropdown-span: #1d1c1c;
$header-border: #dfdfdf88;