@font-face {
    font-family: 'Helvetica';
    src: url(./Resources/Fonts/HelveticaNeueLTStd-Md.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Helvetica';
    src: url(./Resources/Fonts/HelveticaNeueLTStd-Lt.otf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}